//TEXT AND UTILITY

html {
-webkit-tap-highlight-color: transparent;
}

body {

      background: #fcfcfc;
      color: $vt-blue;

}


a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}

#vt-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

overflow: hidden;




margin-left: auto;
margin-right: auto;
}

.main-app {

  flex-grow: 1;
flex-shrink: 1;
flex-basis: auto;
// padding: 60px;
//   padding-top: 60px;
  // animation: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) 0s 1 slideInFromBottom;

}





.grid-container {
@include breakpoint(1580px down) {
padding-left: 80px;
padding-right: 80px;
}
@include breakpoint(700px down) {
padding-left: 30px;
padding-right: 30px;
}
}

// .lazy-anim{
// opacity: 0;
// transition: opacity 500ms, filter 500ms;
// filter: blur(30px);
// // transform: scale(1.4);
// @include breakpoint(small down) {
// filter: blur(20px);
// }
// }
// .lazyloaded {
// 	opacity: 1;
//
//   filter: none
// }

// .lazy-anim {
// 	opacity: 1;
// 	transition: opacity 300ms, filter 500ms 300ms;
//   filter: none;
// }

// .lazy-anim{
// opacity: 0;
// filter: blur(30px);
// // transform: scale(1.4);
// @include breakpoint(small down) {
// filter: blur(20px);
// }
// }

// .lazy{
// opacity: 0;
// filter: blur(30px);
// // transform: scale(1.4);
// @include breakpoint(small down) {
// filter: blur(20px);
// }
// }


h1 {

font-weight: 700;
font-size: 24px;
color: $vt-blue;
}

h2 {

  font-weight: 700;
  font-size: 24px;
  color: $vt-carrot;
  margin: 0;
}

 h3, {
  font-size: 20px;
   font-weight: 700;

}


a:hover {
text-decoration: underline;
}
a:focus {
text-decoration: none;
}

h1 {
margin-bottom: 2rem;


@include breakpoint(small down) {
font-size: 18px;
margin-bottom: 1rem;
}
}



h3 {


line-height: 1.6;
@include breakpoint(1200px down) {

}
}


p {
  @include breakpoint(650px down) {
    font-size: 16px;
  }
}

.main-top-pad {
padding-top: 120px;
@include breakpoint(1199.97px down) {
padding-top: 80px;
}
@include breakpoint(small down) {
padding-top: 70px;
}
}


.header-fake-bg {
  position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
      background: #fcfcfc;
      margin-left: auto;
      margin-right: auto;
      height: 100px;

      @include breakpoint(1000px down) {
      height: 66px;

      }
@include breakpoint(650px down) {

height: 54px;
}
}







$section-margin-bottom-desk: 10rem;
$content-margin-top-big: 6rem;
$content-margin-top-small: 4rem;
$content-margin-top-xs: 3rem;

.content-spacer-top--big {
margin-top: $content-margin-top-big;
@include breakpoint(650px down) {
  margin-top: $content-margin-top-small;
  }
}
.content-spacer-top--small {
margin-top: $content-margin-top-small;
  @include breakpoint(650px down) {
    margin-top: $content-margin-top-xs;
    }
}

//////////VTKULJETUS//////////

.section--hero {
margin-top: 14rem;
text-align: center;
margin-bottom: $section-margin-bottom-desk;
  @include breakpoint(1000px down) {
  margin-top: 8rem;
    margin-bottom: 6rem;
  }
  @include breakpoint(650px down) {
  margin-top: 6rem;
  margin-bottom: 4rem;
  }
.hero-info-container {
max-width: 980px;
padding-left: 20px;
padding-right: 20px;
margin: auto;
margin-bottom: 4rem;
h1 {
margin-bottom: 3rem;
}
.hero-contact-hash {
color:$vt-carrot;
border: solid 2px;
font-weight: 800;
padding: 10px 16px;
}

}

}

.hero-image-container {
position: relative;
width: 100%;
padding-bottom: 65%;

}
.hero-image-container--inner {
background: #f5f5f5;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
z-index: 1;
img {
transition: 1s;
width: 100%;
}
}


.frost-loader {
position: absolute;
background: #f5f5f5;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
z-index: 2;
transition: opacity 0.5s;
opacity: 0;

img {
transition: 1s;
width: 100%;
transform: scale(1.1);
filter: blur(40px);
}
}

.loading-hero-image .frost-loader {
  opacity: 1;

}

.section-header-wrapper {
position: relative;
}
.section-header-wrapper:after {
      content: '';
      display: block;
      position:absolute;
      height: 1px;
      width: 100%;
      background: $vt-blue;
      bottom:-6px;
      left: 0;
}

.section-header {
margin-bottom: 6px;
}



///////SERVICES////////

.section--services {
  margin-bottom: 2rem;
  @include breakpoint(1000px down) {
  margin-bottom: 2rem;
  }
  @include breakpoint(650px down) {
  margin-bottom: 4rem;
  }
}

.services-grid {
justify-content: space-between;
}

.service-cell {
text-align: center;
svg, span {
height: 80px;
width: auto;
@include breakpoint(650px down) {
  height:70px;
  width: auto;
}
}
h3 {
margin-top: 10px;
margin-bottom: 1.6rem;
}
}


.service-cell {
margin-bottom: 4rem;
@include breakpoint(650px down) {
  margin-bottom: 2rem;
  }
}
.service-cell:nth-of-type(odd) {
  @media print, screen and (min-width: 640px) {
    padding-right: 4rem;
  }

}
.service-cell:nth-of-type(even) {
  @media print, screen and (min-width: 640px) {
    padding-left: 4rem;
  }
}

.service-cell:last-of-type {
    @include breakpoint(650px down) {
  margin-bottom: 0;
  }
}

/////GEAR///////

.section--gear {
  margin-bottom: $section-margin-bottom-desk * 0.6;
  @include breakpoint(650px down) {
  margin-bottom: 4rem;
  }
}
.section--gear .grid-x {
@include breakpoint(1000px down) {
display: block;
}
}



$content-gutter: 4rem;
$content-gutter-1250: 3rem;
$content-gutter-1100: 3rem;
$txt-content-width: 600px;
$txt-content-width-1250: 500px;
$txt-content-width-1100: 400px;

.gear-slider-cell {
width: auto;
flex: 1 1 0px;
}
.gear-info-cell {
width: $txt-content-width;
min-width: $txt-content-width;
padding-left: $content-gutter;
@include breakpoint(1250px down) {
  padding-left: $content-gutter-1250;
  width: $txt-content-width-1250;
  min-width: $txt-content-width-1250;
}
@include breakpoint(1100px down) {
  padding-left: $content-gutter-1100;
  width: $txt-content-width-1100;
  min-width: $txt-content-width-1100;
}
@include breakpoint(1000px down) {
  min-width:0;
max-width: 100%;
width: 100%;
margin-left: auto;
margin-right: auto;
margin-top: 3rem;
padding: 0;
}
}


///////ABOUT//////
.section--about {
    margin-bottom: $section-margin-bottom-desk * 0.6;
    @include breakpoint(650px down) {
    margin-bottom: 4rem;
    }
}

.section--about .grid-x {
@include breakpoint(1000px down) {
display: block;
}
}

.about-image-cell {
width: auto;
flex: 1 1 0px;
}
.about-info-cell {
width: $txt-content-width;
min-width: $txt-content-width;
padding-right: $content-gutter;
@include breakpoint(1250px down) {
  width: $txt-content-width-1250;
  min-width: $txt-content-width-1250;
  padding-right: $content-gutter-1250;
}
@include breakpoint(1100px down) {
  width: $txt-content-width-1100;
  min-width: $txt-content-width-1100;
  padding-right: $content-gutter-1100;
}
@include breakpoint(1000px down) {
  min-width:0;
max-width: 100%;
width: 100%;
margin-left: auto;
margin-right: auto;
margin-top: 3rem;
padding: 0;
margin-bottom: 3rem;
}
}


////////CONTACT////////

.section--contact {
    margin-bottom: $section-margin-bottom-desk * 0.6;
}

.contact-cell:nth-of-type(odd) {
padding-right: 4rem;
@include breakpoint(1200px down) {
padding-right: 2rem;
}
@include breakpoint(medium down) {
  padding-right: 0;
  margin-bottom: 3rem;
}
}
.contact-cell:nth-of-type(even) {
padding-left: 4rem;
@include breakpoint(1200px down) {
padding-left: 2rem;
}
@include breakpoint(medium down) {
  padding-left: 0;
}
}



.contact-cell-inner {
p {
margin-bottom: 0.2rem;
}
}



.contact-wysiwyg-block {
img {
width: 100%;
max-width: 130px;
margin-bottom: 10px;
}
}


///////VT_FOOOTER//////

.vt-footer {
background: $vt-blue;
color: white;
font-weight: bold;
padding: 2.2rem 0;
.grid-x {
justify-content: space-between;
}
}


.main-header {
transition: transform 0.3s;
}
.desktop-logo-link svg {
transition: transform 0.3s;
transform-origin: center left;
}


.footer-icon-cell {
  width: 50%;
display: flex;
justify-content: flex-start;
align-items: center;
@include breakpoint(600px down) {
width: 100%;

display: block;
text-align: center;
margin-bottom: 2rem;
}
svg {
width: 80px;
}
.footer-name-box {
margin-left: 24px;
font-weight: bold;
@include breakpoint(600px down) {
margin-left: 0px;
  }
}
}
.footer-some-cell {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 0 auto;
  width: auto;
  @include breakpoint(600px down) {
  width: 100%;

justify-content: center;
  text-align: center;

  }
  .fb-icon {
    height: 30px;
    svg {
      width: 30px;
      height: 30px;
      margin-left: 16px;
    }
  }
}



////////HEADROOMM

.main-header.loading--fix {
  @include breakpoint(1001px up) {
transform: translateY(40px);
}
.desktop-logo-link svg {
  @include breakpoint(1001px up) {
  transform: scale(1.2);
  }
}
}

.headroom--top.main-header {

  @include breakpoint(1001px up) {
transform: translateY(40px);
}
}
.headroom--top.main-header .desktop-logo-link svg{
@include breakpoint(1001px up) {
transform: scale(1.2);
}
}


.main-header::before {
content: "";
position: absolute;
top: -200px;
width: 100%;
height: 200px;
background: #fcfcfc;

}



////SWIPER/////

.swiper-ratio-box {
  width: 100%;
height: 0;
padding-top: 66.67%;
overflow: hidden;
position: relative;
}
.gear-slider-cell {
.swiper-pagination {
position: relative;
padding-top: 14px;
z-index: 1;
}
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  margin: 0 4px;
  background: transparent;
  opacity: 1;
  border: solid 1px $vt-blue;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: $vt-blue;
}
 }



//////////CONTACTFORM////////

.wpcf7 {
margin-top: 2rem;
font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
label {
font-size: inherit;
font-weight: 600;
color:$vt-blue;
}
[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
box-shadow: none;
color: #262654;
}
[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus {
border: 1px solid #262654;
}
.wpcf7-submit {
color:$vt-blue;
font-weight: bold;
padding: 0.6rem 1.4rem;
background: none;
border: solid 2px $vt-blue;
margin-top: 1rem;
font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    border: 2px solid $vt-carrot;
    background: none;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 0;
}
span.wpcf7-not-valid-tip {
    color: $vt-carrot;
    font-size: 1em;
    font-weight: bold;
    display: block;
    margin-top: -10px;
    margin-bottom: 1rem;
    margin-left: 0;
}
div.wpcf7-mail-sent-ok {
    border: 2px solid $vt-blue;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 0;
    background: $vt-blue;
    color: white;

}
}



////LAODING ANIMATIONS ////
