button {
cursor: pointer
}
*:focus {
outline: none;
}

body {overflow-x:hidden}


.admin-bar .main-header {
  top: 32px;
}

.legacy-browsers-message {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
background-color: black;
color: white;
padding: 3rem;
color: white;
text-align: center;
}

// SPLITT CELL MAX WIDTH FOR MEDIUM
.max-700-c {
max-width: 700px;
}
.max-800-c {
max-width: 800px;
@include breakpoint(medium down) {
max-width: 700px;
}
}
.a-ratio-2-3 {
  // background: #f2f2f2;
      width: 100%;
      height: 0;
      padding-top: 66.67%;
      overflow: hidden;
      position: relative;
}

.a-ratio-item {
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.a-ratio-item img {
width: auto;

}



.yellow-button {
  background-color: $yellow;
  padding: 1rem;
  text-transform: uppercase;
  margin-right: 0.5rem;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  padding: 0.8rem 0.8rem;
  cursor: pointer;
  // transition: background-color 0.3s;
    transition: box-shadow 0.25s;
  font-size: 14px;
  color: black;
  margin-bottom: 1rem;
  line-height: 1.2;
  @include breakpoint(small down) {
  font-size: 12px;
    }
}

.y-button-eq {
  margin-right: 0.2rem;
  margin-left: 0.2rem;
}

.yellow-button:hover {
  // background-color: #faca03;
box-shadow: 2px 2px 0 0 #000;
  text-transform: uppercase;

  text-decoration: none;
  font-weight: 700;


  cursor: pointer;
    color: black
}

.yellow-button:focus{
  background-color: $yellow;

  text-transform: uppercase;

  text-decoration: none;
  font-weight: 700;
  display: inline-block;

  cursor: pointer;
  transition: background-color 0.3s;
    color: black
}

//USE THIS WRAPPER ON CELLS TO PREVENT TEXT COMPRESSION
.cell-text-eq {
padding-right: 1rem;
}




.wrap-medium {
max-width: 1000px;
margin: auto;
}

.wrap-large {
max-width: 1200px;
margin: auto;
@include breakpoint(1199.89px down) {
max-width: 600px;
}
}

.wrap-small {
max-width: 800px;
margin: auto;
}

.aspect-video-embed {
  position: relative;
  height: 0;

  padding-bottom: 56.25%;
  overflow: hidden;
  margin: 0 auto;
}


.flex-video embed, .flex-video iframe, .flex-video object, .flex-video video, .aspect-video-embed embed, .aspect-video-embed iframe, .aspect-video-embed object, .aspect-video-embed video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
