


@mixin s-bottom-margin() {
  margin-bottom: 10rem;
  @media screen and (max-width: 1023.79px) {
    margin-bottom: 8rem;
  }
  @media screen and (max-width: 639.79px) {
  margin-bottom: 6rem;
   }
}
@mixin s-top-margin() {
margin-top: 10rem;
@media screen and (max-width: 1023.79px) {
  margin-top: 8rem;
}
@media screen and (max-width: 639.79px) {
margin-top: 6rem;
 }
}
@mixin s-bottom-padding() {
padding-bottom: 8rem;
@media screen and (max-width: 1023.79px) {
  padding-bottom: 4rem;
}
@media screen and (max-width: 639.79px) {
padding-bottom: 3rem;
 }
}
@mixin s-top-padding() {
padding-top: 8rem;
@media screen and (max-width: 1023.79px) {
padding-top: 4rem;
}
@media screen and (max-width: 639.79px) {
padding-top: 3rem;
}
}


@mixin page-bottom-padding() {
padding-bottom: 10rem;
@media screen and (max-width: 1023.99px) {
padding-bottom: 4rem;
}
@media screen and (max-width: 639.99px) {
padding-bottom: 3rem;
}
}


//Section $header
@mixin s-header-margin() {
margin-bottom: 6rem;
}

@mixin s-header-margin-small() {
margin-bottom: 2rem;
}
