/**
 * @license
 * MyFonts Webfont Build ID 3818286, 2019-10-02T05:07:13-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Editor-Extrabold by Indian Type Foundry
 * URL: https://www.myfonts.com/fonts/indian-type-foundry/editor/extrabold/
 * Copyright: Copyright 2016 Indian Type Foundry
 * Licensed pageviews: 10,000
 *
 *
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3818286
 *
 * © 2019 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("https://hello.myfonts.net/count/3a432e");


@font-face {font-family: 'Editor-Extrabold';src: url('webfonts/3A432E_0_0.eot');src: url('webfonts/3A432E_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3A432E_0_0.woff2') format('woff2'),url('webfonts/3A432E_0_0.woff') format('woff'),url('webfonts/3A432E_0_0.ttf') format('truetype');}
