

.badger-accordion__panel {
    max-height: 75vh;
    overflow: hidden;
}

.badger-accordion__panel.-ba-is-hidden {
    max-height: 0 !important;
    visibility: hidden;
}

.badger-accordion--initialized .badger-accordion__panel {
    transition: all ease-in-out 0.3s;
}

///Custom

.badger-accordion {

margin: 0;
}

.badger-accordion:first-child {

}

.badger-header-wrap {
cursor: pointer;
}
.badger-header-wrap a{
color: white;
}

.badger-accordion__panel {
margin: 0;

}
.badger-accordion__panel .js-badger-accordion-panel-inner {
padding: 1rem 1rem 3rem 1rem;
opacity:0;
transition: opacity 0.3s;

}

.badger-accordion:first-child {
    border-top: solid 1px black;
}


.badger-accordion__panel.-ba-is-active .js-badger-accordion-panel-inner{

opacity:1;
transition: opacity 0.3s 0.3s;
}



.mobile-sub-links {
padding: 1rem 1rem;

}
.mobile-sub-links ul{
list-style-type: none;
margin: 0;
}
.mobile-sub-links ul li{
margin-bottom: 0.5rem;
}
.mobile-sub-links a{

font-size: 20px;
color: white;
text-transform: uppercase;
font-family: "United Sans Cond";
line-height: 1;
}


.js-badger-accordion-panel-inner p {
margin: 0;
}

.mm-acco-header {
position: relative;
margin: 0;

font-size: 1rem;
}
.mm-acco-header-small {
font-size: 0.6rem;
}

.mm-acco-header h3{
margin: 0;

font-size: 1.2rem;
cursor: pointer;
padding: 0.6rem 0;
padding-bottom: 0.3rem;
padding-right: 2rem;
position: relative;
@include breakpoint(medium down) {
font-size: 1rem;
}
@include breakpoint(small down) {
font-size: 0.7rem;
}



}
.mm-acco-header h3.-ba-is-active {
font-family: "Sporting Grotesque_Bold", sans-serif;
}


.js-badger-accordion-header span{
  height: 2rem;
    width: 1rem;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
    @include breakpoint(medium down) {
    width: 0.7rem;
    }
}

.js-badger-accordion-header  span:after, .js-badger-accordion-header span:before {
  content: "";
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      float: right;
      display: inline-block;
      width: 1rem;
      height: 2px;
      background-color: black;
      @include breakpoint(medium down) {
      width: 0.7rem;
      }

}

.js-badger-accordion-header span::after {
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);

}

.-ba-is-active span {
 transform: translateY(-50%) rotate(45deg);
}

.acco-bb {
border-bottom: solid 1px black;

}
.mm-acco-header a{
color:white;

}

.mm-acco-trigger {
// margin: 0;
// padding: 0.5rem 0;
// position: relative;
// font-weight: 500;
// font-size: 32px;
// color: white;
// display: inline-block;
// position: relative;

height: 2em;
    width: 2em;
display: inline-block;
margin-left: 10px;
cursor: pointer;
// background: red;
}

.mm-acco-trigger:before,  .mm-acco-trigger:after{
content: "";
position: absolute;
// top: 24px;
// right: -30px;
top:50%;
transform: translateY(-50%);
float: right;
display: inline-block;
width: 1em;
height: 2px;
background-color: white;
transition: all .3s ease;
}


.js-badger-accordion-header a {
color: white;
}
.js-badger-accordion-header.font-plus {

font-weight: 700;

}




.js-badger-accordion-header:before {
opacity: 1;
transform: translateY(-50%) rotate(0deg);
  transition: transform .1s ease, opacity 0s ease;

}
.js-badger-accordion-header:after {
  transform: translateY(-50%) rotate(90deg);
  transition: all .1s ease;

}

.-ba-is-active:before{
opacity: 0;
transform: rotate(90deg);

}


.-ba-is-active:after {
transform: rotate(180deg);

}
