


.page-contact-section {
@include s-top-padding;
@include page-bottom-padding;
  @include breakpoint(large) {
    padding-bottom: 4rem;
}
}
.contact-content {
margin-bottom: 4rem;
}
.contact-wrapper .grid-x {
    @include breakpoint(large) {
margin-left: -1.5rem !important;
margin-right: -1.5rem !important;
}
}
.contact-wrapper .grid-padding-x > .cell {
  @include breakpoint(large) {
padding-left: 1.5rem  !important;
padding-right: 1.5rem  !important;
}
}

.contact-wrapper .cell{
  @include breakpoint(medium down) {
max-width: 600px;
  }
}
.contact-content p{
margin-bottom: 2rem;
}


.m-map {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;

}

.m-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    padding: 0.75rem;
}
