
.soft-landing-section {
margin-top: 10rem;

padding-bottom: 4rem;

  @include breakpoint(medium only) {
  margin-top: 6rem;
  }
  @include breakpoint(small only) {
  margin-top: 4rem;
  padding-bottom: 2rem;
  }
}

.soft-landing-wrap--fix {
padding-top: 8rem;
@include breakpoint(medium only) {
padding-top: 6rem;
}
@include breakpoint(small only) {
padding-top: 4rem;

}
}



.soft-landing-header {
text-align: center;

margin: auto;
max-width: 550px;
margin-bottom: 6rem;
  @include breakpoint(medium down) {
margin-bottom: 4rem;
}
}
.soft-landing-header h2{
margin-bottom: 1rem;
 }
.soft-landing-header p{
font-size: 18px;
// font-weight: 500;
// text-transform: uppercase;
}

.s-l-main-item-box {
width: 100%;
// border: solid 1px black;

margin-bottom: 2rem;
    @include breakpoint(medium only) {
    width: 100%;
    }
}

.s-l-main-inner {
text-align: center;
max-width: 500px;
background: $grey;

}



.s-l-header {
background: black;
color: white;
padding: 1rem 1.5rem;
}
.s-l-header h3{
margin: 0;
  @include breakpoint(1250px down) {
  font-size: 1.6rem;
  }
  @include breakpoint(medium down) {

  }
}

.s-l-main-inner .s-l-header {
background: $yellow;
color: black;
// border: solid 1px black
}

.s-l-content {

padding: 4rem 2.5rem;
padding-top: 2rem;
font-size: 18px;
}
.s-l-content p {
margin: 0;
}

.s-l-header, .s-l-content {
text-align: center;

}


.s-l-sub-item-box {



// border: solid 1px black;
}

.s-l-plus {
width: 30px;
height: 30px;
margin: auto;
margin-bottom: 2rem;
}
.s-l-plus svg{
width: 30px;
height: 30px;
}

.s-l-sub-item {
background: $grey;
    max-width: 500px;
  // border: solid 1px black;

    @include breakpoint(medium down) {
    margin-bottom: 2rem;
        max-width: 400px;
    }

}

.s-l-sub-item:last-child {
    margin-bottom: 0;
}

.page-corporate-grid-section {
padding-top: 4rem;
padding-bottom: 4rem;
  @include breakpoint(medium down) {
padding-top: 2rem;
  }

// @include breakpoint(medium down) {
// padding-top: 6rem;
//  }
// @include breakpoint(small down) {
// padding-top: 4rem;
//  }
}

.page-corporate-contact-section {
padding-top: 4rem;
padding-bottom: 4rem;
  @include breakpoint(large up) {
padding-bottom: 6rem;
  }
  @include breakpoint(small down) {
padding-top: 2rem;
  }
  @include breakpoint(small down) {

padding-top: 0rem;
  }
}

.corporate-grid {
margin-left: -1rem;
margin-right: -1rem;
}

.corporate-grid-cell {
  text-align: center;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-bottom: 4rem;
}
.corporate-icon svg{
width: 80px;
}
.corporate-grid-cell h4 {
font-weight: 700;

}

.corporate-grid-cell p {

}
.corp-partners-grid-wrap {
  padding-top: 8rem;
  max-width: 900px;
  @include breakpoint(medium down) {
    max-width: 700px;
    padding-top: 6rem;
}
@include breakpoint(small down) {
  max-width: 400px;
    padding-top: 4rem;
}
}


.corp-partners-header {
margin-bottom: 2rem; 
text-align: center;
  @include breakpoint(small only) {
padding-right: 1.25rem;
padding-left: 1.25rem;
}
}
.corp-partners-header h2 {
margin-bottom: 1rem;
}
.corp-partners-header p{
font-size: 18px;
}

.corporate-contact-person {
text-align: center;
}
.corporate-contact-person h4{
font-weight: 700;
}
.corporate-contact-person p{
font-size: 18px;
}

.contact-person-info {
max-width: 300px;
margin: auto;
}
.contact-person-info img {
max-width: 180px;
@include breakpoint(small down) {
max-width: 140px;
}
}

.contact-name {
  margin-top: 1rem;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 1em;
  margin-bottom: 1rem;
}


//CORPORATE LOGOS SLIDER

.logo-slider-wrap {
position: relative;
max-width: 900px;
padding: 3rem 0;
margin: auto;

}
.logo-slider {

}

.logo-slider-wrap .swiper-button-next{
transform: translateX(60px) scale(0.6);
@include breakpoint(small only) {
display: none;
}
}
.logo-slider-wrap .swiper-button-prev{
transform: translateX(-60px) scale(0.6);
@include breakpoint(small only) {
display: none;
}
}
.logo-slider .swiper-container {

}

.logo-slide {
width: 25%;
width: calc(25% - 6px);
@include breakpoint(small only) {
width: 40%;
}

}
.logo-slide-bg {


background: $grey
}


.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23b0b0b0'%2F%3E%3C%2Fsvg%3E");

}
.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23b0b0b0'%2F%3E%3C%2Fsvg%3E");
}

.corp-logo-groups {
text-align: center;

}

.corp-logo-groups {
text-align: center;
margin-top: 4rem;
@include breakpoint(small only) {
margin-top: 2rem;
}
}

.corp-logo-groups h3 {
margin: 1rem;
}
