
#directory-section {
min-height: 1000px;
position: relative;
@include s-top-padding;
@include s-bottom-padding;
}

#directory-section .grid-container {
position: relative;
}


.directory-headers {
text-align: center;
padding-bottom: 1rem;
border-bottom: 1px solid $dark-grey;

}

.directory-headers a {
  font-family: "United Sans Cond";
      color: black;
      font-size: 1.25rem;
      line-height: 1;
      display: inline-block;
      margin: 0.2rem;
      padding: 0.3rem 0.6rem;
      letter-spacing: 0.02em;
      text-transform: uppercase;
}

.directory-headers a.selected {
background: $yellow;
}

.directory-labels {
text-align: center;
padding-top: 1rem;
width: 100%;
@include breakpoint(small down) {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid $dark-grey;
}
}




.directory-labels button {
font-weight: 700;
color:#929292;
font-size: 14px;
line-height: 1;
display: inline-block;
    margin: 0.2rem;
    padding: 0.3rem 0.5rem;
    letter-spacing: 0.02em;
text-transform: uppercase;
border: solid 1px $dark-grey;
cursor: pointer;
transition: 0.1s;
@include breakpoint(medium down) {
font-size: 12px;
}
}
.directory-labels button:hover {

color:black;
border: solid 1px black;
cursor: pointer;
}
.directory-label.is-active {
background: $yellow;
 border: solid 1px black !important;
 color: black !important;
}
.directory-labels .show-all {
  color:white !important;
  background: black !important;
  border: solid 1px black !important;
}



.disable-d-item {
display: none;
}

.directory-items-wrapper {
margin-top: 4rem;
margin-left: -0.2rem;
margin-right: -0.2rem;
transition: opacity 0.5s;
@include breakpoint(small down) {
margin-top: 2rem
}}
.directory-item {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin-bottom: 2rem;
  font-size: 14px;
  font-weight: 500;
    text-align: center;
}
.directory-item a{
  font-size: 14px;
  font-weight: 500;
  color: black;

}
.directory-item span{

  font-size: 14px;
  font-weight: 500;
  color: black;
  margin-top: 0.5rem;
  display: inline-block;
}

.directory-item a:hover span{
  text-decoration: underline;
}

.logo-image-wrapper {
  background: #f2f2f2;
    width: 100%;
    height: 0;
    padding-bottom: 66.67%;
    overflow: hidden;

    position: relative;
}
.logo-image {
    width: 100%;
    position: absolute;
overflow: hidden;
top: 0;
left: 0;
right: 0;
bottom: 0;

}
.logo-image img {
    transition: 0.3s;
}
.directory-item a:hover .logo-image img {
    transform: translateY(-5px);
}

///

.directory-loader {
position: absolute;
width: 30px;
height: 30px;
z-index: 30;
background: blue;
opacity: 0;
transition: 0.2s;
top: 12rem;
left: 50%;
transform: translateX(-50%);
}
///


.transition-fade{
    transition: .4s 0.2s;
    opacity: 1;
    transition-timing-function: ease-in-out;
}
.transition-fade .directory-item{
    transition: .4s 0.2s;
      transition-timing-function: ease-in-out;
}
html.is-animating .transition-fade{
    opacity: 0;
        transition: .4s;
}
html.is-animating .transition-fade .directory-item{
        transition: .4s;
    // transform: translate3d(0,20px,0);
        transform: scale(0.9);
}
html.is-animating .directory-loader{
opacity: 1;

}
