.future-images-container {
margin-bottom: 8rem;
@include breakpoint(medium down) {
margin-bottom: 6rem;
 }
 @include breakpoint(small down) {
 margin-bottom: 6rem;
  }
}
.future-images-container .cell:first-child {
  @include breakpoint(small down) {
  margin-bottom: 4rem;
   }

}
.future-images-container h2{
  text-align: center;
  margin-bottom: 8rem;
  @include breakpoint(medium down) {
  margin-bottom: 6rem;
   }
   @include breakpoint(small down) {
   margin-bottom: 4rem;
    }
}

.future-timeline-grid h2{
text-align: center;
}

.future-images-container .cell {

}

.future-timeline-grid {
  @include breakpoint(medium) {
max-width: 700px;
   }
  @include breakpoint(large) {
max-width: 800px;
 }

}

.const-timeline {
padding-top: 6rem;
}



.const-timeline-item {
  border: solid 1px black;
  position: relative;
      background: #f2f2f2;
      // border: solid 1px #b0b0b0;
      padding: 2rem;
      padding-top: 4rem;
      margin-bottom: 6rem;
      -webkit-animation: float 6s ease-in-out infinite;
      animation: float 6s ease-in-out infinite;
      /* box-shadow: 10px 10px 0 0 #0a0a0a; */
      box-shadow: 8px 8px 0 0 #000;

}
.const-timeline-item:last-of-type {
margin-bottom: 0;
}
.const-timeline-item-bullet {
margin-bottom: 1rem;
}
.const-timeline-item-bullet svg {
margin-right: 0.5rem;
}


.c-t-year {
border: solid 1px black;
position: absolute;
left: 2rem;
top: 0;
transform: translateY(-50%);
background-color: $yellow;
padding: 0.5rem;
    // border: solid 1px #b0b0b0;
}

.c-t-year h3 {
font-size: 38px;
margin: 0;
}

.future-illustration {
max-width: 900px;
margin: 0 auto;
}





[data-aos="timeline-anim"] .const-timeline-item{
    visibility: hidden;

transform: translateY(30px);
  transition: transform 0.6s, opacity 0.8s;

}

[data-aos="timeline-anim"].aos-animate .const-timeline-item{
    transform: translateX(0);
opacity: 1;
        visibility: visible;
}






@for $i from 1 through 10 {
  [data-aos="timeline-anim"] .const-timeline-item:nth-child(#{$i}) {

    transition-delay:(#{$i*0.2s});
  }
}
