footer {
background: #024232;
color: #ffe9e2;
padding-top: 60px;
padding-bottom: 60px;
position: relative;
overflow: hidden;
  @include breakpoint(900px down) {
padding-top: 40px;
    padding-bottom: 40px;
      }
p {

line-height: 1.35;
margin-bottom: 0;
  @include breakpoint(900px down) {
  font-size: 14px;
    }
    a {
    color:#ffe9e2;
    }
    a:hover, a:focus {
          color:#ffe9e2;
          text-decoration: underline;
    }
}

.footer-content {
position: relative;

flex-wrap: wrap;
  @include breakpoint(1100px down) {
justify-content: space-between;
    }
}

}
.footer-a-logo-cell {
        @include breakpoint(1100px down) {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
          }
}
.footer-a-logo-cell svg {
width: 62px;
}
.footer-info-cell {
  @include breakpoint(1099.89px up) {
margin-left: 4rem;
}
  @include breakpoint(750px down) {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
    }
}

.footer-social-link {
    @include breakpoint(1099.89px up) {
flex-grow: 3;
}
  @include breakpoint(750px down) {
    width: 100%;
  display: block;
  text-align: center;
  }
}


.footer-texture {
position: absolute;
left: 0;
top: -30%;
width: 100%;
opacity: 0.6;
  @include breakpoint(750px down) {
    display: none;
    }
}
