#footer-logo {
width: 134px;
fill: white;

}
.footer-logo-cell {
// margin-right: 6rem;
}
.footer-logo-wrap {
  padding: 0.2rem 0;
      display: inline-block;

margin-top: 7px;
}

.main-footer {
background: black;
padding-top: 3rem;
padding-bottom: 3rem;
color: white;
}

.footer-links-wrapper {
// width: 40%;
// width: 200px;
@include breakpoint(medium down) {
    margin-top: 3rem;
 }
 @include breakpoint(small down) {
     margin-top: 1rem;
     margin-bottom: 1rem;
  }

}

.footer-sm-links {


}
.sm-links-cell {
  width: 20px;
  margin: 0.5rem 0.8rem;
  margin-left: 0;

}
.sm-links-cell svg{
width: 20px;
height: 20px;
}

.footer-nav-links {
// margin-right: 4rem;
text-transform: uppercase;
font-family: "United Sans Cond";
font-size: 1.25rem;
justify-content: flex-end;
text-align: right;
}
.footer-nav-links .cell {
  height: 40px;
display: flex;

justify-content: flex-end;

@include breakpoint(medium down) {
  justify-content: flex-start;
 }
}


.footer-nav-links span {
padding: 0.2rem 0;
display: inline-block;
height: 40px;
color: white;
}
.footer-nav-links span:hover{
text-decoration: underline;
}

.footer-nav-info {
  font-size: 1rem;
  @include breakpoint(small down) {
    margin-top: 1rem;
   }
}
.footer-nav-info .cell {
  height: 40px;
  display: -webkit-flex;
display: -ms-flexbox;
display: flex;
align-items: flex-start;
@include breakpoint(small down) {
  font-size: 0.9rem;
  height: auto;
 }
}
.footer-nav-info span {
padding: 0.2rem 0;
display: inline-block;

}

.footer-header-links {
  justify-content: flex-start;
  text-transform: uppercase;
  font-family: "United Sans Cond";
  font-size: 1.6rem;
  justify-content: flex-end;
}

.footer-header-links .cell {

  display: flex;
  justify-content: flex-start;
}

.footer-header-links .cell.compress-link{
  font-size: 1.2rem;
  height: 28px;
}
.compress-link-margin{
margin-top: 1rem;
}

.footer-copy-right {
margin-top: 3.2rem;
padding-top: 1.5rem;
border-top: solid 1px $dark-grey;
font-size: 1rem;
@include breakpoint(small down) {
margin-top: 2rem;
font-size: 0.8rem;
 }
}
