//MAIN HEADER


.main-header {
position: fixed;
width: 100%;
top: 0;
left: 0;
right: 0;
z-index: 5;
 background: transparent;



margin-left: auto;
margin-right: auto;
height: 100px;
@include breakpoint(1000px down) {
  height: 66px;
}
@include breakpoint(650px down) {
  height: 54px;
}
}

.header-grid {

// padding-top: 1rem;
// padding-bottom: 1rem;
height: 100px;
  @include breakpoint(large) {
        align-items: center;
        justify-content: center;
   }
  @include breakpoint(1000px down) {
    align-items: center;
    justify-content: space-between;
    height: 66px;
   }
@include breakpoint(650px down) {
align-items: center;
height: 54px;

  }
}


#m-logo {



}

.m-logo-cell {
height: 68px;
@include breakpoint(1000px down) {
height: 51px;
}
@include breakpoint(650px down) {
height: 42px;
}
}


.m-logo-cell svg {
width: 160px;
height: auto;
    max-height: 70px;

@include breakpoint(1000px down) {
width: 120px;
}
@include breakpoint(650px down) {
width: 100px;
}
}


.m-logo-cell a{

display: inline-block;

font-size: 1rem;
    letter-spacing: 0.04em;
    color:#1a1a1a;
    &:hover {
    text-decoration: underline
  }
  @include breakpoint(1360px down) {
font-size: 0.8rem;
}
@include breakpoint(1200px down) {
font-size: 1rem;
}
@include breakpoint(700px down) {
font-size: 0.8rem;
}
@include breakpoint(small down) {
font-size: 0.6rem;
}
@include breakpoint(650px down) {


}
}



.desktop-logo-link {

}

.logo-clarinet {
text-transform: none;
}


.main-header .grid-container {
}


.top-nav .nav-links {
  @include breakpoint(medium down) {
    display:none;
   }
}

.n-l-l {
margin-left: 2rem;
}

.nav-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.nav-links li {
  display: inline-block;

}

.fake-ul {
text-align: right;
}
.nav-links a {


font-size: 16px;
font-weight: 600;
color: $vt-blue;
line-height: 1;
display: inline-block;
    margin: 0.5rem;



}

.active-lang {
text-decoration: underline;
}

.nav-links a:hover {
text-decoration: underline
}



.nav-links a.selected-main {
background: $yellow;
text-decoration: none !important;
}
.nav-links a.selected-sub {
background: $yellow;
text-decoration: none !important;
}


.language-switcher {
text-align: right;
font-family: 'Muli', sans-serif;
font-size: 14px;
a {
color: #1a1a1a;
}
   @include breakpoint(650px down) {
  font-size: 12px;
   }
}

.lang-separator {
  height: 4px;
      min-width: 4px;
      min-height: 4px;
      background: #1a1a1a;
      border-radius: 9999px;
      margin: 0 6px;
      display: inline-block;

}

//SECONDARY NAV




//FOOTER





//MOBILE NAV

// .header-grid.mobile-menu-header {
// position: sticky;
// top:0;
//
// z-index: 999;
// }

.mobile-trigger-cell {
  width: 32px;
  height: 20px;
  max-height: 20px;
  @include breakpoint(1000.1px up) {
        display: none;
   }
     @include breakpoint(650px down) {
      button {
      // transform: scale(0.7);
      }
       }

}
.mobile-menu-header {
  position: relative;
      z-index: 10;
}

.mm-icon-container {
  width: 32px;
  height: 20px;
  display: inline-block;
  position: relative;

}
.mm-icon-inner, .mm-icon-inner:before, .mm-icon-inner:after  {
  width: 32px;
  height: 2px;
  background-color: #000;
  border-radius: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}
.mm-icon-inner:before {
    top: calc(50% - -9px);
}
.mm-icon-inner:after {
    top: calc(50% - 9px);
}
.mm-icon-inner:after, .mm-icon-inner:before {
    content: "";
    display: block;
}




body.mobile-menu-active .mm-icon-inner  {

  background-color: transparent;

}

body.mobile-menu-active .mm-icon-inner:before {

    background-color: #1a1a1a;
    transform: translate3d(0,-9px,0) rotate(-35deg);
}

body.mobile-menu-active .mm-icon-inner:after {

    background-color: #1a1a1a;
    transform: translate3d(0,9px,0) rotate(35deg);
}

///MM_CONTAINER

#m-logo-mobile {
width: 86px;
fill: white;

}

.mm-flex-wrapper {
// min-height: calc(100vh - 60px);

@include breakpoint(800px down) {
// transform: translateY(-60px);
}
}

.mobile-menu {
padding-left: 60px;
 padding-right: 60px;
transform: translate3d(0,-100%,0);
position: fixed;
left: 0;
right: 0;

top: 0;
width: 100%;

background: $vt-blue;
z-index: 4;
opacity: 1;

overflow: hidden;
transition: 0.5s 0.5s cubic-bezier(.7,0,.3,1);
overflow-y: scroll;
-webkit-overflow-scrolling:touch; // mobile safari

@include breakpoint(1200px) {
      display: none;

 }

 @include breakpoint(small down) {
   padding-left: 20px;
    padding-right: 20px;

  }

}

.mobile-menu-inner {
padding-top: 100px;
padding-bottom: 60px;
opacity: 0;
transition: 0.5s  cubic-bezier(.7,0,.3,1);
  @include breakpoint(650px down) {
  padding-top: 80px;
  }
span {
display: block;
text-align: center;
font-family: 'Muli', sans-serif;
margin: 1rem 0;
color: #1a1a1a;
a {
color:white;
font-size: 18px;

}
}
}


.open-mobile-menu {
width: 20px;
height: 20px;
max-width: 20px;
max-height: 20px;
overflow: hidden;
display: block;
}

#open-menu {
fill: $vt-carrot;
position: absolute;
right:0;
top:0;
transition: 0.3s;
transition-delay: 0.3s;
}
#close-menu {
fill: $vt-carrot;
position: absolute;
right:0;
top:0;
transform: translateY(20px);
transition: 0.3s;
transition-delay: 0.3s;
z-index: 2;
}

.mobile-menu-active #open-menu {
transform: translateY(-20px);

}
.mobile-menu-active #close-menu {
transform: translateY(0);

}


.mobile-menu-active .mobile-menu-inner {
opacity: 1;
transition: 0.5s 0.5s cubic-bezier(.7,0,.3,1);
}

.mobile-menu-active .main-header {

}



.nav-links {
  @include breakpoint(1000px down) {
    display: none;
  }
}

body.mobile-menu-active .mobile-menu {
opacity: 1;
transform: translate3d(0,0,0);
transition: 0.5s cubic-bezier(.7,0,.3,1);
    // padding-bottom: 4rem;
}

.mobile-nav-links {
color:white;
// height: calc(100vh - 120px);
display: flex;
// align-items: center;
justify-content: center;
position: relative;


margin: auto;

@include breakpoint(small down) {

 }
 @include breakpoint(330px down) {

  }
}
.mobile-nav-links-inner {
// position: absolute;
// top: 50%;
// left: 50%;
// transform: translate(-50%,-50%);
    display: table;
}
.mobile-link-accordion-container {
  display: table;
      margin-bottom: 1rem;
}
.mobile-nav-links-upper {
margin-bottom: 3rem;
}








//HEADROOM

.main-header .bio-switcher{
transition: transform 0.5s ;
}

.main-header.headroom--unpinned .bio-switcher{
transform: translate3d(0, -105%, 0);

}



 .top-nav {

z-index: 3;



}

.page-template-bio .top-nav{
border-bottom: solid 1px #1a1a1a;
}
.bio-switcher {
background: white;
z-index: 1;
position: relative;

width: 100%;
margin: auto;
text-align: center;

border-bottom: solid 1px #1a1a1a;
padding-top: 0.4rem;
padding-bottom: 0.4rem;

display:none;

      @include breakpoint(small down) {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        }
}
.page-template-bio .bio-switcher {
display: block !important;
}


.bio-switcher a {

  border-radius: 300px;
      padding: 0.5rem 0.9rem;
        padding-bottom: 0.4rem;
      text-transform: none;
      color: white;
      background: #00a67a;
      font-size: 0.9rem;
      @include breakpoint(1200px down) {
          font-size: 0.7rem;
          padding: 0.3rem 0.7rem;
          padding-bottom: 0.2rem;
        }
        @include breakpoint(small down) {
            font-size: 0.6rem;
            padding: 0.3rem 0.5rem;
            padding-bottom: 0.1rem;
          }
}

.bio-swich--unactive {
display: none;
}



.page-id-8 #bio-switch-fi {
display: inline-block;
}

.page-id-8 #bio-switch-en {
display: none;
}

.page-id-25 #bio-switch-en {
display: inline-block;
}

.page-id-25 #bio-switch-fi {
display: none;
}

.transition-fade {
    transition: .4s;
    opacity: 1;
    // transform: translateY(0);
}
html.is-animating .transition-fade{
    opacity: 0;
    // transform: translateY(30px);
}
