
.page-membership-options-section {
margin-top: 10rem;
@include page-bottom-padding;
  @include breakpoint(medium down) {
margin-top: 6rem;
  }
  @include breakpoint(small down) {
margin-top: 4rem;
  }
}

//changed for upper benefits container. Use upper version if no benefits List


.benefits-container {
margin-bottom: 4rem;
  @include breakpoint(small down) {
    margin-bottom: 3rem;
  }

}




///

.m-options-wrapper {
  margin-top: 8rem;

  @include breakpoint(medium down) {
margin-top: 6rem;
  max-width: 700px;

  }

  @include breakpoint(small down) {
  margin-top: 4rem;


  }
}
.m-option-content {
padding: 3rem 2rem;
padding-bottom: 0;
// @include breakpoint(medium only) {
// display: flex;
// }
@include breakpoint(medium down) {
padding: 2rem 2rem;
padding-bottom: 0;
}
}

.m-options-grid {
display: flex;
justify-content: center;
}


// .m-option-inner-cell {
//
//   @include breakpoint(medium only) {
//     width: 60%;
//     padding-right: 1rem;
//   }
// }
// .m-option-inner-cell:first-child {
//
//   @include breakpoint(medium only) {
//     width: 40%;
//   }
// }


.m-option-cell {
background: $grey;
margin-bottom: 4rem;
  @include breakpoint(medium down) {
  max-width: 500px;
      margin-bottom: 2rem;
  }
}



.m-option-header {
  background: black;
  display: block;
  width: 100%;
  color: white;
  padding: 1rem 2rem;

}

.m-option-header h3 {
margin: 0;
}



.m-option-list {
margin-bottom: 3rem;
@include breakpoint(small down) {
margin-bottom: 2rem;
}
}
.m-option-item {
margin-bottom: 1rem;
}
// .m-option-item:first-of-type {
// margin-top:0;
// }

.m-empty-item {
  @include breakpoint(medium down) {
    display: none
  }
}


.m-option-item svg {
width: 14px;
height: 11px;
margin-right: 0.8rem;
}

.m-options-link {
text-align: center;
padding: 0 2rem;
width: 100%;
margin-bottom: 3rem;
@include breakpoint(medium only) {
margin-bottom: 2rem;
text-align: center;
}
@include breakpoint(small only) {
margin-bottom: 2rem;

}

}
