[data-sub-for] {
  display: none;
  // transition: opacity 0.25s;
  // opacity: 0;
}
[data-sub-for].inactive {
  display: none !important;
}

[data-sub-for].parent-hover {
  display: inline-block;
}
@media screen and #{breakpoint(large)} {
  // Medium and up styles

  [data-sub-for="about"] {
    margin-left: 120px;
  }
  [data-sub-for="campus"] {
    margin-left: 180px;
  }
  [data-sub-for="community"] {
    margin-left: 254px;
  }

  [data-sub-for="work-with-us"] {
    margin-left: auto;
    margin-right: -3px;
  }
}

.sec-nav-pjax-container .grid-x {
  @include breakpoint(medium down) {
    justify-content: center;
  }
}

body.page-id-10 [data-sub-for="community"] {
  display: inline-block;
}

body.page-id-6 .secondary-nav {
  display: none;
}

body.page-template-basic-content-nosub .secondary-nav {
  display: none;
}

body.page-id-414 .secondary-nav {
  display: none;
}

body.parent-pageid-10 [data-page-id="community"] {
  @include breakpoint(large) {
    background: #fadf00;
  }
  text-decoration: none !important;
}

body.parent-pageid-10 [data-sub-for="community"] {
  display: inline-block;
}
body.page-id-10 [data-sub-for="community"] {
  display: inline-block;
}

body.page-id-62 [data-sub-for="about"] {
  display: inline-block;
}

body.parent-pageid-62 [data-page-id="about"] {
  @include breakpoint(large) {
    background: #fadf00;
  }
  text-decoration: none !important;
}

body.parent-pageid-62 [data-sub-for="about"] {
  display: inline-block;
}

body.page-id-64 [data-sub-for="campus"] {
  display: inline-block;
}

body.parent-pageid-64 [data-page-id="campus"] {
  @include breakpoint(large) {
    background: #fadf00;
  }
  text-decoration: none !important;
}

body.parent-pageid-64 [data-sub-for="campus"] {
  display: inline-block;
}

body.page-id-373 [data-sub-for="work-with-us"] {
  display: inline-block;
}

body.parent-pageid-373 [data-page-id="work-with-us"] {
  @include breakpoint(large) {
    background: #fadf00;
  }
  text-decoration: none !important;
}

body.parent-pageid-373 [data-sub-for="work-with-us"] {
  display: inline-block;
}

//hover cather
.hover-catcher {
  height: 100%;
  display: flex;
  // padding: 0 10rem;
  // padding-right: 4rem;
  justify-content: center;

  @include breakpoint(medium down) {
    display: none;
  }
}
.js-hover-catcher {
  width: 20%;
  height: 100%;
  @include breakpoint(1200px down) {
    display: none;
  }
}

.n-l-l {
}
.n-l-r {
}
