//PROGRAMS


.page-programs-section {
@include s-top-padding;
@include page-bottom-padding;
}



.programs-grid {
margin-left: -0.8rem;
margin-right: -0.8rem;
}

.program-cell {

    display: flex;
    flex-direction: column;
padding-left: 0.8rem;
padding-right: 0.8rem;
margin-bottom: 5rem;
@include breakpoint(medium down) {
  margin-bottom: 3rem;
}
@include breakpoint(small down) {
  margin-bottom: 2rem;
}
}

.program-cell-inner div {
width: 100%;
}

.program-cell-inner {
    flex-wrap: wrap;
      display: flex;

    flex: 1 0 auto;
}
.program-upper-content {
align-self: flex-start;
}
.program-name {
  margin-top: 1rem;
  margin-bottom: 1rem;
font-weight: 700;

font-size: 18px;

}


.program-content {
margin-bottom: 2rem;
}

.program-link {
align-self: flex-end;
}

.program-image-bg {
background-position: center;
background-size: cover;
}
.program-image-bg img {
display: none; 
}








//TOUR

.page-tour-section {

@include page-bottom-padding;
}

.tour-grid {

}


.tour-cell {
background: $grey;
margin-bottom: 2rem;
max-width: 700px;
@include breakpoint(medium up) {
  flex-wrap: wrap;
display: flex;
}
  @include breakpoint(medium down) {
  max-width: 500px;
  }
}
.tour-body {
flex: 0 0 100%
}
.tour-header {
background: black;
display: block;
width: 100%;
color: white;
padding: 1rem 2rem;
}
.tour-header h3 {
margin: 0;
}
.tour-content {

padding: 3rem 2rem;
padding-bottom: 2rem;
  @include breakpoint(medium down) {
padding: 2rem 2rem;
padding-bottom: 1rem;
}
@include breakpoint(small down) {
  padding-bottom: 1rem;
}
}

.tour-content p{
max-width: 550px;
}

.tour-link {
padding: 0 2rem;
padding-bottom: 2rem;
  @include breakpoint(medium up) {
align-self: flex-end;
}
@include breakpoint(medium down) {

padding-bottom: 1rem;
}
}


//WORK WITH US

.page-wwu-section {
  @include s-top-padding;
  @include page-bottom-padding;
}



.wwus-grid {
margin-left: -0.8rem;
margin-right: -0.8rem;
}

.wwu-cell {

padding-left: 0.8rem;
padding-right: 0.8rem;
margin-bottom: 6rem;
@include breakpoint(large up) {
flex-direction: column;
display: flex;
}
@include breakpoint(medium only) {
display: flex;
margin-bottom: 4rem;

}
@include breakpoint(small down) {
  margin-bottom: 2rem;

}
}

.wwu-body {
flex: 1 0 auto;
// flex-direction: column;
@include breakpoint(large up) {
display: flex;
  flex-wrap: wrap;
}
}

.wwu-cell div {
  width: 100%;
  @include breakpoint(medium only) {
  flex: 1 100%;
  }
}

.wwu-cell .cell-text-eq {

  @include breakpoint(medium only) {
  padding-left: 2rem;
  padding-right: 0;
  }
}




.wwu-name {
  margin-top: 1rem;
  margin-bottom: 1rem;
font-weight: 700;

font-size: 18px;

  @include breakpoint(medium only) {
margin-top: 0rem;
}
}

.wwu-content {
margin-bottom: 2rem;
}

.wwu-link {
  @include breakpoint(large up) {
align-self: flex-end;
}
  @include breakpoint(medium only) {
padding-left: 2rem;
padding-right: 0;
}
}



//SPACE OPTIONS


.page-space-section {

@include page-bottom-padding;
}

.page-space-section .wwu-cell {
    @include breakpoint(large) {
  margin-bottom: 2.5rem;
}
}

.space-link-eq {

}
