


.page-team-section {
@include s-top-padding;
@include page-bottom-padding;
}



.t-member-grid {
margin-left: -0.4rem;
margin-right: -0.4rem;
}

.t-member {
font-size: 1rem;
padding-left: 0.4rem;
padding-right: 0.4rem;
margin-bottom: 6rem;

@include breakpoint(1400px down) {
font-size: 0.8rem;
}
@include breakpoint(1200px down) {
font-size: 1rem;
}
@include breakpoint(700px down) {
font-size: 0.8rem;
margin-bottom: 4rem;
}
@include breakpoint(640px down) {
font-size: 0.8rem;
margin-bottom: 3rem;
}
}



.t-member-content a {
color: black;
text-decoration: underline;
margin: 0;
}
.t-member-content p {
margin: 0;
}

.t-member-name {
  margin-top: 1rem;
font-weight: 700;
margin-bottom: 0;
font-size: 1em;
}
.t-member-title {
font-weight: 700;
margin-bottom: 0;
font-size: 1em;
}
.t-member-email {
margin-top: 1rem;
}
