


.page-team-section {
padding-top: 8rem;
@include page-bottom-padding;
@include breakpoint(medium down) {
padding-top: 6rem;
 }
@include breakpoint(small down) {
padding-top: 4rem;
 }
}



.t-member-grid {
margin-left: -0.5rem;
margin-right: -0.5rem;
}

.t-member {
  max-width: 236px;
font-size: 1rem;
padding-left: 0.5rem;
padding-right: 0.5rem;
margin-bottom: 3rem;
text-align: center;
@include breakpoint(1400px down) {

}
@include breakpoint(1200px down) {
font-size: 1rem;
}
@include breakpoint(700px down) {
font-size: 0.8rem;

}
@include breakpoint(640px down) {
font-size: 0.8rem;
margin-bottom: 3rem;
}
}



.t-member-content a {
color: black;
text-decoration: underline;
margin: 0;
}
.t-member-content p {
margin: 0;
}

.t-member-name {
  margin-top: 1rem;
font-weight: 700;
margin-bottom: 0;
font-size: 1em;
}
.t-member-title {
font-weight: 700;
margin-bottom: 0;
font-size: 1em;
}
.t-member-email {
margin-top: 1rem;
margin-bottom: 1.5rem;
}
.t-member-social {

}

 .t-member-social svg {
    width: 20px;
    height: 20px;
    margin: 0 0.3rem;
}
